body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #171a1f;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c2c549;
    color: #171a1f;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* Add styling for the image */
#logo {
    height: auto; 
    margin-bottom: 20px; /* Adds spacing between the image and button */
}



#video{
    display:none;
}



.meme {
    display: none;
}

h1 {
    color: white;
}   



img {
    max-width: 100%;
    max-height: 100%;
}




.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}